env/
env/*
env
dataset/data/
data.db

*.csv
dataset/*.csv
data_analysis/*.csv

*.json
dataset/*.json
data_analysis/*.json

*.pickle
dataset/*.pickle
data_analysis/*.pickle

__pycache__
dataset/__pycache__
data_analysis/__pycache__
Examples/__pycache__

*.pyc 
data_analysis/sepsis-patients.csvc
